[submodule ".themes/constant-cockles"]
	path = .themes/constant-cockles
	url = git://github.com/octothemes/constant-cockles.git
[submodule ".themes/bunching-bumbago"]
	path = .themes/bunching-bumbago
	url = git://github.com/octothemes/bunching-bumbago.git
